body{
    background-color: #e9e8e8;
}

/*--------------------------------HEADEAR----------------------------*/
.logo_contact{
    height: 70px;
}
.header{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:200px
}
.recherche{
    height: 45px;
    background-color: #f5f3f3;
    border: none;
    border-radius: 5px;
}
.search_bar{
    display: flex;
    align-items: center;
    width:700px;
}
.input_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: #f5f3f3;
    border-radius: 7px;
}
.btn_burger{
    border: none;
    background-color:#e9e8e8;
}
.btn_burger:hover{
    border-radius: 40px;
    filter: drop-shadow(0.5px 0.5px 0.5px);
    background-color: #d8d8d8;
}
.header_contact{
    font-size: 30px;
    color: rgb(84, 84, 84);
}

/*---------------------------------Menu Burger--------------------------------*/

.menu_burger{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    transition: all 2.5s ease-in-out;
}
.create_contact{
    border-radius: 20px;
    background-color: #04abff75;
    width: 125px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 400ms, 400ms;
}
.create_contact:hover{
    color: black;
    background-color: white;
}
.contactList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: 500ms, 500ms;
}
.contactList:hover{
    color: black;
    background-color: #04abff75;
}
.recent_contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: 500ms, 500ms;
}
.recent_contact:hover{
    color: black;
    background-color: #04abff75;
}
.wording{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 150px;
    cursor: pointer;
}
strong{
    font-size: 15px;
    cursor: pointer;
}
strong:hover{
     color: #04abff75;
}

/*---------------------------MAIN----------------------------*/
.separation{
    display: flex;
}
.main{
    width: 100%;
    border-radius: 20px;
    padding:25px 0 0 20px;
    height: 50rem;
    background-color: white;
}
.profil{
 display: flex;
}
.profil_contact{
    padding: 40px;
    height: 200px;
}
.fa-solid.fa-arrow-left{
    font-size: 20px;
}
.add_contact{
    position: absolute;
    margin: 200px 0 0 200px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 5px solid#ffffff;
    background-color: #3e58b8;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.input_contact{
    display: grid;
    grid-template-columns: repeat;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.name_input{
    display: grid;
    grid-template-columns: repeat;
    grid-gap: px;
}
